@use "../../../SCSS" as style;

.button {
  background-color: style.$blackColor;
  color: style.$whiteColor;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
}

.button-disabled {
  color: rgba(style.$whiteColor, style.$defaultOpacityDrop);
  cursor: text;
  opacity: 1 !important;
}

.button-borderRadius {
  border-radius: style.$defaultBorderRadius;
}

.button-maxWidth {
  width: 100%;
}
