@use "../../../SCSS" as style;

.list-dropdown-wrapper {
  @include style.flex(row);
  align-items: center;
  position: relative;
  width: 100%;
  height: style.$buttonHeight;
}

.list-dropdown-label-wrapper {
  @include style.flex(row);
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 1px solid style.$blackColor;
  border-radius: style.$defaultBorderRadius;
  color: style.$greyColor;
  font-weight: bold;
  height: 100%;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;

  &:hover {
    opacity: style.$defaultOpacityDrop;
  }
}

.list-dropdown-label {
  font-size: 16px;
  font-weight: 400;
}

.list-dropdown-component-wrapper {
  position: absolute;
  top: 100%;
  min-width: 100%;
  box-shadow: 0px 10px 20px rgba(style.$blackColor, 0.15);
  border-radius: 5px;
  background-color: style.$whiteColor;
  z-index: 1;
  border: 1px solid rgba(style.$blackColor, 0.7);
}

.list-dropdown-item {
  background-color: transparent;
  color: style.$blackColor;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border-radius: style.$defaultBorderRadius;

  &:hover {
    background-color: style.$lightColor;
  }
}
