@use "../../../SCSS" as style;

.change-password-page-wrapper {
  @include style.flex(column);
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.change-password-page-logo {
  width: 100px;
  margin-bottom: 50px;
}

.change-password-page-form {
  width: 400px;
  height: fit-content;
  border: 1px solid style.$blackColor;
  border-radius: style.$defaultBorderRadius;
}

.change-password-page-form-input {
  border-radius: style.$defaultBorderRadius;
}

.change-password-page-form-line {
  border-top: 1px solid style.$blackColor;
}

.change-password-page-loader {
  margin-top: 20px;
}

.change-password-page-feedback-message {
  padding-bottom: 10px;
}

@media (max-width: 400px) {
  .change-password-page-form {
    width: 90%;
  }
}
