@use "../../../SCSS" as style;

.chip-wrapper {
  @include style.flex(row);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 5px;
  background-color: style.$blackColor;
  width: fit-content;
  padding-right: 5px;
}

.chip-label {
  color: style.$whiteColor;
  font-size: 16px;
  padding: 5px style.$defaultPadding;
}

.chip-remove-button {
  color: style.$redColor;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    opacity: style.$defaultOpacityDrop;
  }
}
