@use "../../../SCSS" as style;

$boxPadding: calc(#{style.$defaultPadding} * 2);

.add-or-update-person-wrapper {
  padding: $boxPadding;
}

.add-or-update-person-header {
  font-size: 20px;
  color: style.$greyColor;
  font-weight: 500;
  padding-bottom: calc(#{$boxPadding} * 1.2);
}

.add-or-update-person-input {
  border: 1px solid style.$blackColor;
  width: 300px;
}
