@use "../../../../../SCSS" as style;

$boxPadding: calc(#{style.$defaultPadding} * 2);

.people-details-wrapper {
  width: 100%;
  height: 100%;
  padding: $boxPadding;
}

.people-details-top-section {
  @include style.flex(row);
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(#{$boxPadding} * 1.2);
}

.people-details-header-title {
  font-size: 20px;
  color: style.$greyColor;
  font-weight: 500;
}

.people-details-table {
  width: 100%;

  th,
  td {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  th {
    background-color: style.$lightColor;
    text-align: start;
    color: style.$greyColor;
  }
}
