@use "../../../../SCSS" as style;

.navigation-bar-wrapper {
  @include style.flex(row);
  align-items: center;
  padding: 0 style.$defaultPadding;
  height: style.$navHeight;
  width: 100%;
  background-color: style.$lightColor;
  border-bottom: 1px solid style.$blackColor;
}

.navigation-bar-logo {
  height: calc(#{style.$navHeight} - #{style.$navHeight / 6});
  cursor: pointer;
}
