@use "../../../../SCSS" as style;

.config-details-loader {
  margin-top: 50px;
}

.config-details-wrapper {
  @include style.flex(column);
  padding: style.$defaultPadding;
  width: 100%;
  min-height: 400px;
  background-color: style.$whiteColor;
  border-radius: style.$defaultBorderRadius;
  align-items: center;

  h5 {
    color: style.$blackColor;
  }
}

.config-details-time-container {
  @include style.flex(row);
  align-items: center;
  justify-content: space-between;
  width: 400px;
  border-radius: style.$defaultBorderRadius;
  margin-top: style.$defaultPadding;
}

.config-details-time-input {
  width: 48%;
}

.config-details-inputs-container {
  border: 1px solid style.$greyColor;
  width: 400px;
  padding: style.$defaultPadding;
  border-radius: style.$defaultBorderRadius;
  margin-top: style.$defaultPadding;
}

.config-details-person-inputs {
  width: 100%;
}

.config-details-input {
  border: 1px solid style.$blackColor;
  width: 100%;
}

.config-details-person-audio-data-container {
  @include style.flex(column);

  .config-details-person-audio-data-title {
    font-size: 12px;
    color: style.$greyColor;
  }
}

.config-details-person-audio-data {
  @include style.flex(row);
  flex-wrap: wrap;
}

.config-details-inputs-submit {
  width: 400px;
  margin-top: style.$defaultPadding;
}
