@use "../../../../SCSS" as style;

.config-details-loader {
  margin-top: 50px;
}

.config-details-wrapper {
  @include style.flex(column);
  padding: style.$defaultPadding;
  width: 100%;
  min-height: 400px;
  background-color: style.$whiteColor;
  border-radius: style.$defaultBorderRadius;
  align-items: center;

  h5 {
    color: style.$blackColor;
  }
}

.config-details-audio-play-pause-button {
  color: style.$blackColor;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    opacity: style.$defaultOpacityDrop;
  }
}

.config-details-time-container {
  @include style.flex(row);
  align-items: center;
  justify-content: space-between;
  width: 400px;
  border-radius: style.$defaultBorderRadius;
  margin-top: style.$defaultPadding;
}

.config-details-audio-control {
  color: transparent;
}

.config-details-time-input {
  flex: 1;
  margin-left: 10px;
}

.config-details-inputs-container {
  border: 1px solid style.$greyColor;
  width: 400px;
  padding: style.$defaultPadding;
  border-radius: style.$defaultBorderRadius;
  margin-top: style.$defaultPadding;
}

.config-details-person-inputs {
  width: 100%;
}

.config-details-input {
  border: 1px solid style.$blackColor;
  width: 100%;
}

.config-details-person-audio-data-container {
  @include style.flex(column);

  .config-details-person-audio-data-title {
    font-size: 12px;
    color: style.$greyColor;
  }
}

.config-details-person-audio-data {
  @include style.flex(row);
  flex-wrap: wrap;
}

.config-details-inputs-action-buttons {
  @include style.flex(row);
  width: 400px;
  margin-top: style.$defaultPadding;
}

.config-details-inputs-cancel-button {
  background-color: transparent;
  color: style.$blackColor;
  border: 1px solid style.$blackColor;
}

.config-details-submit-error-message {
  padding: 5px 0;
}
